header {
  height: 3.5em;
  background-color: darkmagenta;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}

#hamButton{
  height: 48px;
  width: 58px;
  cursor: pointer;
  background: none;
  &:hover{
    background-color: rgb(205, 0, 205);
  }
}

#hamburger{
  height: 48px;
}

.openedHamburgerMenu{
  transition: height .5s ease-out !important;
  height: 10em !important;
}

.closedHamburgerMenu{
  transition: height .5s ease-out !important;
  height: 3.5em;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .headerLinks{
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    a{
      color: white;
      font-size: 20px;
      margin-bottom: 10px;
      &:hover {
        color: rgb(255, 175, 225);
      }
    }
  }
  
  img {
    height: 125px;
    display: flex;
    border-radius: 100%;
  }

  p {
    padding: 10px;
  }

  nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    padding-top: 10px;
  }

}

//For larger screens
@media (min-width: 600px) {
  header {
    min-height: calc(100% + 30px);
    margin: 0;
    padding: 0;
    width: 20dvw;
    display: flex;
    flex-grow: 1;
    position: relative;
  }

  p {
    margin: 0;
    padding: 5px;
  }

  div {
    height: 100%;
    width: 20dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    img {
      height: 200px;
      display: flex;
      border-radius: 100%;
      margin-top: 15px;
    }

    p {
      padding: 10px;
    }

  }
  
  #hamburger{
    display: none;
  }
  
}
