<!-- <div class="wrapper"> -->
<div class="projectWrapper" #projectWrapper>
  <h2>Brigham Young University Idaho - Ticket Management System</h2>
  <p #projectText>
    This is a project I worked on for Brigham Young University Idaho's
    Accessibility Services department as the lead developer. This project is a full stack ticket
    management system built in Angular allowing students, faculty, and course
    leads to request work to be done on a course to make sure it is ADA
    compliant. I was brought in to do a complete rebuild of their previous site,
    streamlining their workflow from various Google Docs and other spreadsheets
    into a one-stop shop able to handle any type of request.
  </p>
  <div class="expandButtonDiv">
    <div class="projectLinks">
      <a class="none" href="" target="_blank">Github</a>
      <a href="https://byui-ramp.web.app/" target="_blank">Live Project</a>
    </div>
    <!-- <button #expandButton [routerLink]="['project/1']">Details</button> -->
  </div>
</div>

<div class="projectWrapper" #projectWrapper>
  <h2>Dish Recipes</h2>
  <p #projectText>
    This mobile site is meant to be a place where anyone can add recipes and
    access them at any time with no fuss, straight and to the point. This has
    been a long project, and the current site is actuaully version 3. I started
    this years ago when a friend of mine complained about having to scroll
    through people's life stories before getting to a recipe on the internet. So
    I built a prototype, which I then scrapped when I remade the site for my
    senior project. I later rebuilt my senior project from scratch, giving us
    the current Dish Recipes. This is still a work in progress, and I hope to
    continue improving this site over time.
  </p>
  <div class="expandButtonDiv">
    <div class="projectLinks">
      <a class="none" href="" target="_blank">Github</a>
      <a href="https://dish-recipes.app/" target="_blank">Live Project</a>
    </div>
    <!-- <button #expandButton [routerLink]="['project/2']">Details</button> -->
  </div>
</div>

<div class="projectWrapper" #projectWrapper>
  <h2>The Logbook</h2>
  <p #projectText>
    This is an intereseting project, one that I hope to continue developing in
    my free time. I've always liked games and the idea of building one myself
    one day. I had an idea for a text-based game, and one day I figured, why not
    try building it? And so, we have The Logbook. Currently, it's nothing more
    than a combat test page, allowing you to fight in a turn-based
    <span><a class="inTextLink" href="https://en.wikipedia.org/wiki/Timekeeping_in_games#Active_Time_Battle" target="_blank">
    active time battle</a></span>. &nbsp;I wanted a more robust text adventure,
    rather than your standard "read story, pick choices." I opted for a more
    RPG focused approach. Currently, it boasts the ability to cast spells and 
    drink potions that can add various effects to yourself or the enemies you target.
    This is very much a work in progress. <!-- TODO: Update the Logbook github page with a nice description & link to the ghpages -->
  </p>
  <div class="expandButtonDiv">
    <div class="projectLinks">
      <a href="https://github.com/Flint64/logbook/tree/main" target="_blank">Github</a>
      <a href="https://flint64.github.io/logbook/combat-test" target="_blank">Live Project</a>
    </div>
    <!-- <button #expandButton [routerLink]="['project/3']">Details</button> -->
  </div>
</div>

<!-- <div class="projectWrapper" #projectWrapper>
  <h2>Project 4</h2>
  <p #projectText>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio
    facilisis mauris. Elementum integer enim neque volutpat ac tincidunt vitae.
    Pretium nibh ipsum consequat nisl vel pretium lectus. Sit amet facilisis
    magna etiam tempor. aaaaaa aaaaaaaaaa aaaaaaa aaaa al vel pretium lectus.
    Sit amet facilisis magna etiam tempor. aaaaaa aaaaaaaaaa aaaaaaa aaaa a
  </p>
  <div class="expandButtonDiv">
    <div class="projectLinks">
      <a href="" target="_blank">Github</a>
      <a href="" target="_blank">Live Project</a>
    </div>
    <button #expandButton [routerLink]="['project/4']">Details</button>
  </div>
</div> -->
